@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-image: url('../frontend-simple-coffee-listing/bg-cafe.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.list{
  display: flex;
  justify-content: space-between;
}

.ul{
  list-style: none;
  margin: 20px 72px;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 32px;
}
